#history_popup{
    left: 50%;
    margin-left: -400px;
    margin-top: 200px;
    height: 400px;
    width: 800px;
    display: block;
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 10px 18px -10px rgba(0,0,0,0.75);
}

#history_inner{
    display: block;
    position: absolute;
    padding: 0px;
}

#history_error{
    display: block;
    background-color: #d81b60;
    width: 600px;
    border-top-right-radius: 10px;
    line-height: 0px;
    height: 20px;
    font-size: 10px;
    position: absolute;
    top: 0;
    color: #fff;
}


#history_popup_inner{
    width: 600px;
    right: 0;
    display: block;
    position: absolute;
    z-index: 60;
}


#history_popup_cover{
    background-color: red;
    width: 200px;
    position: absolute;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    left:0;
}


tbody {
    display: block;
    height: 250px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
    font-size: small;
}
thead {
    width: calc( 100% - 1em )
}
table {
    width:100%;
}
