
#logo{
    top: 0;
    left: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: block;
    position: absolute;
    width: auto;
    height: 40px;
}

#profile{
    display: block;
    position: absolute;
    border-radius: 40px;
    right: 463px;
    width: 200px;
    height: 36px;
    color: black;
    box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
    margin-top: 2px;
    background-color: #81d4fa;
}


#email{
    display: block;
    position: absolute;
    border-radius: 40px;
    right: 253px;
    width: 200px;
    height: 36px;
    color: black;
    box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
    margin-top: 2px;
    background-color: #81d4fa;
    text-align: center;
    line-height: 36px;
}


#rating{
    display: block;
    position: absolute;
    border-radius: 40px;
    right: 92px;
    width: 150px;
    height: 36px;
    background-color: #fbc02d;
    box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
    margin-top: 2px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}

#rating:hover{
    background-color: #fdd835;
    transition: all 0.4s ease 0s;
}

.inner_icon{
    display: inline-block;
    position: absolute;
    border-radius: 36px;
    background-color: rgba(78, 78, 78, 0.15);
    left: 0;
    width: 36px;
    height: 36px;
    color: black;
    object-fit: contain;
}

#profile_inner_text{
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    margin-top: 0px;
    font-size: x-small;
    left: 26px;
}

#email_inner_text{
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: x-small;
    margin-top: 0px;
    left: 36px;
}

#rating_inner_text{
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: x-small;
    margin-top: 0px;
    left: 10px;
}


